img {
    width: 200px;
    height: 200px;
}
#imageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    width: 100%;
    padding: 50px;
}
#navigationDots{
    display: flex;
    justify-content: center;
    
}
button{
    width: 75px;
    height: 20px;
}
.hide {
    display: none;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbb;
    border-radius: 50%;
    display: inline-block;
  }
.selectedDot{
    background-color: blue;
}
